<h2>Add Users</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
  
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
 <div class="field">
    <%= f.label :avatar %><br />
       <%= f.file_field :avatar %>
  </div>


<% if current_user && current_user.admin? %>
     <div class="admin">
      <%= f.check_box :admin %>
      <%= f.label :admin %>
    </div>
      <div class="security">
      <%= f.check_box :security %>
      <%= f.label :security %>
    </div>
<% end %>

     <!-- Car fields -->
  <%= f.fields_for :cars do |car_fields| %>
    <%= car_fields.label :color %>
    <%= car_fields.text_field :color %>

    <%= car_fields.label :brand %>
    <%= car_fields.text_field :brand %>
    <%= car_fields.label :model %>
    <%= car_fields.text_field :model %>
    <%= car_fields.label :plate_number %>
    <%= car_fields.text_field :plate_number %>

  <% end %>

  <div class="actions">
    <%= f.submit "Add users" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
