<!-- app/views/home/index.html.erb -->
<div class="container">
  <div class="row mt-5">
      <div class="text-center">
          <h2>Welcome, <%= current_user.firstname %></h2>
        </div>
    <div class="col-md-12 text-center">
      <div class="d-flex align-items-center justify-content-between">
        <figure>
          <% if current_user.avatar.attached? %>
            <img src="<%= current_user.avatar %>" alt="Profile Picture" class="rounded-circle" style="width: 80px; height: 80px; margin-right: 15px;">
          <% else %>
            <div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; margin-right: 15px; font-size: 24px;">
              <%= user_initials(current_user) %>
            </div>
          <% end %>
        </figure>
        <div>
          <% if current_user.pass_in_code? %>
              <div class="d-flex flex-column" >
                <%= current_user.pass_in_code %>
                <%= image_tag @qr_png, alt: "User QR Code" %>
              </div>
            <% end %>
      
        </div>
      
      </div>
    </div>
  </div>
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>Total Family Members</h5>
          <h1><%= @family_members_count %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-user-friends "></i>
          <p><%= link_to 'Add', new_user_path, class: "btn btn-primary mt-2 btn-sm"  %></p>
          <p>Add your family members</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-user-plus "></i>
          <p><%= link_to 'Invite', new_visitor_path, class: "btn btn-primary mt-2 btn-sm" %></p>
          <p>Create & send invites</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <i class="fa-money-bill-wave  "></i>
          <p><%= link_to 'Pay bill', new_bill_path, class: "btn btn-primary mt-2 btn-sm" %></p>
          <p>Pay estates bills</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h4>Announcements</h4>
      <% @announcements.each do |announcement| %>
        <div class="card mt-3">
          <div class="card-body">
            <h5><%= announcement.title %></h5>
            <p><%= announcement.created_at.strftime("%d-%m-%Y") %></p>
            <p><%= truncate(announcement.content, length: 100) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h4>Recent Invitations</h4>
      <% @visitors.each do |visitor| %>
        <div class="card mt-3">
          <div class="card-body">
            <i class="fas fa-user fa-1x"></i>
            <p><%= visitor.name %></p>
            <p><%= visitor.status %></p>
            <p><%= visitor.created_at.strftime("%d-%m-%Y / %I:%M%p") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
